body {
	background-color: black;
}

header {
	height: 15%;
	background-color: hsla(278, 100%, 9%, 1);
	padding: 1%;
}

h1 {
	color: white;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsla(278, 100%, 9%, 1);
}

li {
    float: left;
}

li a {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#historique {
	margin: 1% 1% 0 0;
	padding: 1%;
	position: absolute;
	display: flex;
	background-color: blue;
	height: 50%;
	width: 75%;
	top: 15%;
}

#user {
	position: absolute;
	display: flex;
	margin: 1% 0 1% 1%;
	padding: 1%;
 	left: 77%;
 	background-color: #ffa500;
 	width: 20%;
 	height: 50%;
 	top: 15%;
}

#message {
	position: absolute;
	display: flex;
	background-color: red;
	height: 10%;
	width: 100%;
	top: 72%;
}

#infos {
	position: absolute;
	display: flex;
	background-color: yellow;
	height: 15%;
	width: 100%;
	bottom: 0;
}