header {
	height: 15%;
	background-color: #551A8B;
	padding: 1%;
}

h1 {
	color: white;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #551A8B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


#user {
<<<<<<< HEAD
	margin: 1% 0 1% 1%;
	padding: 1%;
 	width: 15%;
 	float: right;
 	background-color: #ffa500;
=======
 	width: 30%;
}
body {
	background-color: black;
}
#message {
	position: absolute;
	display: flex;
	background-color: red;
	height: 10%;
	width: 100%;
	top: 65%;
}
#historique {
	position: absolute;
	display: flex;
	background-color: blue;
	height: 50%;
	width: 70%;
	top: 15%;
}
#infos {
	position: absolute;
	display: flex;
	background-color: yellow;
	height: 25%;
	width: 100%;
	bottom: 0;
>>>>>>> a0732a8b568888b90751b6269904b70af0185900
}